{% extends 'layout_productos.html' %}

{% block body %}

    <div id="Secciones">

        <div class="Cabecera">

            <div class="Logo_nombre">Loguito</div>
            
            <div class="Carrito">Carrito</div>

            <div class="Logout_btn">
                <a href="http://127.0.0.1:3002/Logout">Logout</a>
            </div>


        </div>

        <div class="Seccion_Seleccionada"> Frutas y Verduras </div>

        <div class="Productos">

            <div class="Manzanas">
                <div class="Imagen1">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar1">
                </div>
            </div>
            <div class="Platanos">
                <div class="Imagen2">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar2">
            </div></div>
            <div class="Naranjas">
                <div class="Imagen3">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar3">
                </div>
            </div>
            <div class="Uvas">
                <div class="Imagen4">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar4">
                </div>
            </div>
            <div class="Fresas ">
                <div class="Imagen5">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar5">
                </div>
            </div>
            <div class="Piña">
                <div class="Imagen6">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar6">
                </div>
            </div>
            <div class="Zanahorias">
                <div class="Imagen7">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar7">
                </div>
            </div>
            <div class="Tomates">
                <div class="Imagen8">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar8">
                </div>
            </div>
            <div class="Lechuga">
                <div class="Imagen9">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar9">
                </div>
            </div>
            <div class="Papa">
                <div class="Imagen10">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar10">
                </div>
            </div>
            <div class="Brocoli">
                <div class="Imagen11">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar11">
                </div>
            </div>
            <div class="Espinacas">
                <div class="Imagen12">
                </div>
                <div class="Nombre">
                </div>
                <div class="Agregar12">
                </div>
            </div>
            
    </div>

    <div class="Redes">
        Redes
    </div>
        




    </div>




{% endblock %}