<head>
    <title>SuperMax Virtual</title>
</head>

{% extends 'layout.html' %}

{% block body %}

<!-- Python en HTML INICIO -->

{% with messages = get_flashed_messages() %}
{% if messages %}
{%for message in messages%}
    <p>{{message}}</p>
{%endfor%}
{% endif %}
{%endwith%}

<!-- Python en HTML FIN -->

<div id="Contenido">
    <div class="Cabecera">
        <div class="Logo_nombre">Loguito</div>
        <div class="Register_btn">
            <a href="http://127.0.0.1:3002/Registro">Registrarse</a>
        </div>
        <div class="Info_atajo">Informacion</div>
    </div>
    <div class="Imagen_Principal">Imagen_Principal</div>
    <div class="Login">

        <form method="POST", action="/Verificacion_login">
            <br>
                Login <br>
            <br>
            
            <input type="text", name="Usuario_Login", placeholder="Ingrese su Usuario registrado"><br>
            <input type="password", name="Contraseña_Login", placeholder="Ingrese su Contraseña"><br>
            <br>
        
            <button>
                Login
            </button>
        
        </form>

    </div>
    <div class="Informacion">
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Telefono</td>
                    <td>Correo</td>
                    <td>Pais</td>
                    <td>Dirección</td>
                    <td>Usuario</td>
                </tr>
            </thead>
            <tbody>
                {%for usuarios in usuarios_tabla %}
                    <tr>
                        <td>{{usuarios.0}}</td>
                        <td>{{usuarios.1}}</td>
                        <td>{{usuarios.2}}</td>
                        <td>{{usuarios.3}}</td>
                        <td>{{usuarios.4}}</td>
                        <td>{{usuarios.5}}</td>
                        <td>{{usuarios.6}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="Redes"> Redes </div>
</div>

{% endblock %}

