{% extends 'layout_secciones.html' %}

{% block body %}

    <div id="Secciones">

        <div class="Cabecera">

            <div class="Logo_nombre">Loguito</div>
            
            <div class="Logout_btn">
                <a href="http://127.0.0.1:3002/Logout">Logout</a>
            </div>


        </div>

        <div class="Logo"> SUPERMAX </div>

        <div class="Productos">

            <div class="Frutas_y_Verduras">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Frutas y Verduras</a>
            </div>
            <div class="Carnes">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Carnes</a>
            </div>
            <div class="Lacteos">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Lacteos</a>
            </div>
            <div class="Embutidos_y_Fiembres">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Embutidos y Fiembres</a>
            </div>
            <div class="Bebidas">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Bebidas</a>
            </div>
            <div class="Conservas_y_Enlatados">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Conservas y Enlatados</a>
            </div>
            <div class="Abarrotes">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Abarrotes</a>
            </div>
            <div class="Productos_de_Limpieza">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Productos de Limpieza</a>
            </div>
            <div class="Farmacia">
                <a href="http://127.0.0.1:3002/Frutas_y_Verduras">Farmacia</a>
            </div>
            
    </div>

    <div class="Redes">
        Redes
    </div>
        




    </div>




{% endblock %}